@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}
.hover {
  color: gray;
  /* transition: ease-in-out; */
  filter: grayscale(100%);
}

.hover:hover {
  color: black;
  filter: grayscale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.card {
  flex-grow: 1; /* Initial flex-grow value */
  padding: 16px;
  transition: flex-grow 0.3s ease; /* Transition flex-grow over 0.3 seconds with ease-in-out timing */
}
